.wrapper {
  margin: 0;
  max-width: 1280px; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.sidebar {
  margin-left: 1rem;
  padding-right: 0rem; }

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }
  .column.sidebar {
    flex: 1; }
  .column.main {
    flex: 3;
    border-left: 1px solid lightgray; }

.text-center {
  display: flex; }

.pagination {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem;
  list-style: none; }
  .pagination .page-item {
    flex: 1; }
    .pagination .page-item a {
      text-decoration: none; }

@media screen and (max-width: 960px) {
  .sidebar-content .menu {
    display: none; }
  .row {
    flex-direction: column; }
  .column.main {
    flex: 1; } }

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: inherit; }

.container-left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: inherit; }

html {
  --light-background: #fff;
  --text-color-light: #002a32;
  --dark-background: #212121;
  --text-color-dark: #fff;
  font-size: 100%; }
  html.light {
    background-color: var(--light-background); }
  html.dark {
    background-color: var(--dark-background); }

body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  background-color: var(--light-background);
  color: var(--text-color-dark);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

body.light {
  background-color: var(--light-background);
  color: var(--text-color-light); }
  body.light a {
    color: var(--text-color-light); }
  body.light code {
    background-color: lightgray;
    color: red; }

body.dark {
  background-color: var(--dark-background);
  color: var(--text-color-dark); }
  body.dark a {
    color: var(--text-color-dark); }
  body.dark code {
    background-color: dimgray;
    color: var(--text-color-dark); }

a {
  text-decoration: underline; }

.btn-circle {
  border: none;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.4rem 0.2rem;
  border-radius: 50%;
  transition-duration: 0.4s; }

.btn-circle:hover {
  padding: 0.6rem; }

.btn-dark {
  background-color: var(--dark-background);
  color: var(--text-color-dark);
  border: 1px solid var(--light-background); }
  .btn-dark.selected {
    border: 2px solid #fff; }

.btn-light {
  background-color: var(--light-background);
  color: var(--text-color-light);
  border: 1px solid var(--dark-background); }
  .btn-light.selected {
    border: 2px solid #000; }

nav {
  background-color: var(--dark-background);
  opacity: 0.9;
  width: 100%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em; }
  nav h1 {
    display: block;
    padding: 0 1em;
    font-weight: 800; }
    nav h1 a {
      text-decoration: none;
      color: var(--text-color-light); }

.nav-list {
  list-style: none; }
  .nav-list a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: var(--text-color-light); }

.flex-navigation-container {
  display: flex; }
  .flex-navigation-container .flex-item {
    flex: 1; }
  .flex-navigation-container .flex-start {
    justify-content: flex-start; }
  .flex-navigation-container .flex-end {
    justify-content: flex-end; }

.service-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .service-buttons a {
    justify-content: center;
    flex: 1; }

.post {
  padding-left: 1rem; }
  .post h1 {
    font-size: 1.5rem; }
    .post h1 a {
      text-decoration: none; }
  .post h2 {
    font-size: 1.3rem; }
  .post h3 {
    font-size: 1rem; }
  .post h1:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f573";
    display: inline-block;
    padding-right: 0.2rem;
    vertical-align: middle;
    font-weight: 900; }
  .post .highlight pre {
    border: 0;
    margin: 0;
    padding: 1rem 0;
    border-radius: 0; }
  .post .highlight code {
    background-color: #272822;
    color: #fff; }
  .post .post-heading {
    margin-top: 1rem;
    border-top: 1px solid lightgray; }
    .post .post-heading span {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      display: flex;
      flex: 1; }
    .post .post-heading span.meta:before {
      font-family: 'Font Awesome 5 Pro';
      content: '\f784';
      display: inline-block;
      padding-right: 0.5rem;
      vertical-align: middle;
      font-weight: 900; }
    .post .post-heading span.tags:before {
      font-family: 'Font Awesome 5 Pro';
      content: '\f02c';
      display: inline-block;
      padding-right: 0.5rem;
      vertical-align: middle;
      font-weight: 900; }
  .post .post-content {
    line-height: 1.5rem; }
    .post .post-content .highlight {
      line-height: 1.3rem; }

.page-navigation {
  display: flex;
  flex-flow: row; }
  .page-navigation .previous,
  .page-navigation .next {
    text-decoration: none;
    flex: 1; }

.sidebar-content a {
  text-decoration: none; }

.sidebar-content h1 {
  font-size: 2rem; }
  .sidebar-content h1:before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f7ea';
    display: inline-block;
    padding: 0 0.5rem 0 0;
    margin: 0;
    vertical-align: middle;
    font-weight: 900; }

.sidebar-content h2,
.sidebar-content h3 {
  font-size: 1rem; }

.sidebar-content ul {
  list-style: none;
  margin: 0 auto;
  padding: 0; }
  .sidebar-content ul li {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    display: flex; }
    .sidebar-content ul li:before {
      font-family: "Font Awesome 5 Pro";
      content: "\f573";
      display: inline-block;
      padding: 0;
      margin: 0;
      vertical-align: middle;
      font-weight: 900; }
  .sidebar-content ul a {
    flex: 1;
    margin-left: 0.5rem;
    border-left: 1px solid lightgray;
    justify-content: right; }

.profile-wrapper {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background-clip: content-box;
  border: 0 solid transparent;
  border-radius: 49.9%;
  margin: 1rem 0;
  text-align: center; }
  .profile-wrapper .profile-image {
    width: 100%;
    height: 100%;
    border-radius: 49.9%; }

body,
html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: var(--light-background);
  color: var(--text-color-dark); }
